<section class="main-sec1">
    <section class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-9" style="background-color: #83c15a">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScC9DQVy_wCTroNMfz0Ag9dU-oYa3Un7hKC_1xs3KZruDw1Mw/viewform?embedded=true" width="640" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </div>
                <div class="col-md-3">
                    <div class="drop-office">
                        <div class="inner-drop-office">
                            <h2>Drop in our office</h2>
                            <div class="left-icon">
                                <div class="featured-icon icon-white">
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                    <div class="featured-content">
                                        <h5>Phone</h5>
                                        <p>+1800 200 133</p>
                                    </div>
                                </div>
                                <div class="featured-icon icon-white">
                                    <i class="fa fa-envelope-square"></i>
                                    <div class="featured-content">
                                        <h5>Email</h5>
                                        <p>abcd@example.com</p>
                                    </div>
                                </div>
                                <div class="featured-icon icon-white">
                                    <i class="fa fa-map-marker"></i>
                                    <div class="featured-content">
                                        <h5>Location</h5>
                                        <p>Envato HQ 24 Fifth st., Los Angeles, USA</p>
                                    </div>
                                </div>
                                <div class="featured-icon icon-white">
                                    <i class="fa fa-map-marker"></i>
                                    <div class="featured-content">
                                        <h5>Location 2</h5>
                                        <p>Envato HQ 24 Fifth st., Los Angeles, USA</p>
                                    </div>
                                </div>
                                <div class="social-icons">
                                    <ul class="list-item">
                                        <li class="hvr-grow">
                                            <a href=""><img src="img/facebook.svg"></a>
                                        </li>
                                        <li class="hvr-grow">
                                            <a href=""><img src="img/whatapp.svg"></a>
                                        </li>
                                        <li class="hvr-grow">
                                            <a href=""><img src="img/instagram.svg"></a>
                                        </li>
                                        <li class="hvr-grow">
                                            <a href=""><img src="img/youtube.svg"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
