<style>
    #header {
        background: url("img/header.jpeg");
        /* background: url("imgs/header.jpeg") center center / cover no-repeat; */
    }
</style>
<section id="header" class="jumbotron text-center">
    <h1 class="display-3">Downloads</h1>
    <p class="lead">Here You Can View/Download our Company Profile and Recent Activities</p>

</section>

<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="img/pattern1.jpeg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">First Thing</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
                            Veniam, dolorum facere?
                            Commodi, ut. Et, itaque quam!</p>
                        <a href="" class="btn btn-outline-success btn-sm">Download</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="img/pattern2.jpeg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">First Thing</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
                            Veniam, dolorum facere?
                            Commodi, ut. Et, itaque quam!</p>
                        <a href="" class="btn btn-outline-success btn-sm">Download</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="img/pattern3.jpeg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">First Thing</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
                            Veniam, dolorum facere?
                            Commodi, ut. Et, itaque quam!</p>
                        <a href="" class="btn btn-outline-success btn-sm">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
