<section id="header" class="jumbotron text-center">
    <h1 class="display-3">Photo Gallery</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, pariatur?</p>

</section>
<div class="gallery-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            <div class="line-content">
                    <div class="card hvr-grow modal-card">
                        <div class="card-head">
                            <img src="img/photo-1563118351-26b2c7381731.jpg">
                        </div>
                        <div class="card-content card-content--blur">
                            <h3>Lorem</h3>
                            <p>Description of image</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="line-content">
                    <div class="card hvr-grow modal-card">
                        <div class="card-head">
                            <img src="img/photo-1563118351-26b2c7381731.jpg">
                        </div>
                        <div class="card-content card-content--blur">
                            <h3>Lorem</h3>
                            <p>Description of image</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="line-content">
                <div class="card hvr-grow modal-card">
                    <div class="card-head">
                        <img src="img/photo-1563118351-26b2c7381731.jpg">
                    </div>
                    <div class="card-content card-content--blur">
                        <h3>Lorem</h3>
                        <p>Description of image</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="line-content">
                <div class="card hvr-grow modal-card">
                    <div class="card-head">
                        <img src="img/photo-1563118351-26b2c7381731.jpg">
                    </div>
                    <div class="card-content card-content--blur">
                        <h3>Lorem</h3>
                        <p>Description of image</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="line-content">
                <div class="card hvr-grow modal-card">
                    <div class="card-head">
                        <img src="img/photo-1563118351-26b2c7381731.jpg">
                    </div>
                    <div class="card-content card-content--blur">
                        <h3>Lorem</h3>
                        <p>Description of image</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="line-content">
                    <div class="card hvr-grow modal-card">
                    <div class="card-head">
                        <img src="img/photo-1563118351-26b2c7381731.jpg">
                    </div>
                    <div class="card-content card-content--blur">
                        <h3>Lorem</h3>
                        <p>Description of image</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="line-content">
                <div class="card hvr-grow modal-card">
                    <div class="card-head">
                        <img src="img/photo-1563118351-26b2c7381731.jpg">
                    </div>
                    <div class="card-content card-content--blur">
                        <h3>Lorem</h3>
                        <p>Description of image</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="line-content">
                <div class="card hvr-grow modal-card">
                    <div class="card-head">
                        <img src="img/photo-1563118351-26b2c7381731.jpg">
                    </div>
                    <div class="card-content card-content--blur">
                        <h3>Lorem</h3>
                        <p>Description of image</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="line-content">
                <div class="card hvr-grow modal-card">
                    <div class="card-head">
                        <img src="img/photo-1563118351-26b2c7381731.jpg">
                    </div>
                    <div class="card-content card-content--blur">
                        <h3>Lorem</h3>
                        <p>Description of image</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="line-content">
                <div class="card hvr-grow modal-card">
                    <div class="card-head">
                        <img src="img/photo-1563118351-26b2c7381731.jpg">
                    </div>
                    <div class="card-content card-content--blur">
                        <h3>Lorem</h3>
                        <p>Description of image</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="line-content">
                <div class="card hvr-grow modal-card">
                    <div class="card-head">
                        <img src="img/photo-1563118351-26b2c7381731.jpg">
                    </div>
                    <div class="card-content card-content--blur">
                        <h3>Lorem</h3>
                        <p>Description of image</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="container big-img ">-->
<!--        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>-->
<!--        <img id="expandedImg" style="width:100%">-->
<!--        <div id="imgtext"></div>-->
<!--    </div>-->
    <div class="modal" tabindex="-1" role="dialog" id="image_expand">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="img/photo-1563118351-26b2c7381731.jpg" id="modal-img">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="pages" id="pagin">
<!--                    <li><a href="#">1</a></li>-->
<!--                    <li class=""><a href="#">2</a></li>-->
<!--                    <li><a href="#">3</a></li>-->
<!--                    <li><a href="#">4</a></li>-->
<!--                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    //Pagination
    pageSize = 9;
    var pageCount =  $(".line-content").length / pageSize;
    for(var i = 0 ; i<pageCount;i++){
        $("#pagin").append('<li><a href="#">'+(i+1)+'</a></li> ');
    }
    $("#pagin li").first().find("a").addClass("current")
    showPage = function(page) {
        $(".line-content").hide();
        $(".line-content").each(function(n) {
            if (n >= pageSize * (page - 1) && n < pageSize * page)
                $(this).show();
        });
    }
    showPage(1);
    $("#pagin li a").click(function() {
        $("#pagin li a").removeClass("current");
        $(this).addClass("current");
        showPage(parseInt($(this).text()))
    });

    $('.modal-card').click(function (){
        let img = $(this).find('img')
        $('#modal-img').attr('src',img.attr('src'))
        $('#image_expand').modal('show')
    })
</script>
