<section class="main-sec" style="background-color:#f7f7f7;">
    <section class="home-banner owl-carousel owl-theme" id="banner-slider">
        <div class="banner-section item">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner-content">
                            <h1>A Mechanic You Trust</h1>
                            <ul class="banner-list">
                                <li>QUICK & RELIABLE WHEEL INSPECTION</li>
                                <li>WE OFFER FREE TIRES SERVICING</li>
                                <li>ENGINE OVERHAUL APPOINTIMENTS</li>
                            </ul>
                            <!--                        <div class="banner-button">-->
                            <!--                            <button type="submit" class="learn-more">LEARN MORE</button>-->
                            <!--                            <button type="submit" class="buy-theme">BUY THEME</button>-->
                            <!--                        </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-section item">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner-content">
                            <h1>A Mechanic You Trust</h1>
                            <ul class="banner-list">
                                <li>QUICK & RELIABLE WHEEL INSPECTION</li>
                                <li>WE OFFER FREE TIRES SERVICING</li>
                                <li>ENGINE OVERHAUL APPOINTIMENTS</li>
                            </ul>
                            <!--                            <div class="banner-button">-->
                            <!--                                <button type="submit" class="learn-more">LEARN MORE</button>-->
                            <!--                                <button type="submit" class="buy-theme">BUY THEME</button>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-section item">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner-content">
                            <h1>A Mechanic You Trust</h1>
                            <ul class="banner-list">
                                <li>QUICK & RELIABLE WHEEL INSPECTION</li>
                                <li>WE OFFER FREE TIRES SERVICING</li>
                                <li>ENGINE OVERHAUL APPOINTIMENTS</li>
                            </ul>
                            <!--                            <div class="banner-button">-->
                            <!--                                <button type="submit" class="learn-more">LEARN MORE</button>-->
                            <!--                                <button type="submit" class="buy-theme">BUY THEME</button>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="service-table">
                        <h2>Our Services</h2>
                        <p>Rem ipsum dolor sit amet, conseaactetur adipisicing<br> elit, sed do eiusmod tempor incididun</p>
                    </div>
                    <div class="home-banner owl-carousel" id="service-slider">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <div class="card hvr-grow">
                                        <div class="card-head">
                                            <img src="img/manpower.png" alt="manpower supply">
                                        </div>
                                        <div class="card-body">
                                            <h4>Manpower Supply</h4>
                                            <p>Lior sit amet, consectetur adipisg</p>
                                            <p>elit, sed do eiusmod tempor</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <div class="card hvr-grow">
                                        <div class="card-head">
                                            <img src="img/manpower.png" alt="manpower supply">
                                        </div>
                                        <div class="card-body">
                                            <h4>Mechanical services</h4>
                                            <p>Lior sit amet, consectetur adipisg</p>
                                            <p>elit, sed do eiusmod tempor</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <div class="card hvr-grow">
                                        <div class="card-head">
                                            <img src="img/manpower.png" alt="manpower supply">
                                        </div>
                                        <div class="card-body">
                                            <h4>Blasting & Painting services</h4>
                                            <p>Lior sit amet, consectetur adipisg</p>
                                            <p>elit, sed do eiusmod tempor</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <div class="card hvr-grow">
                                        <div class="card-head">
                                            <img src="img/manpower.png" alt="manpower supply">
                                        </div>
                                        <div class="card-body">
                                            <h4>FRP coating services</h4>
                                            <p>Lior sit amet, consectetur adipisg</p>
                                            <p>elit, sed do eiusmod tempor</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <div class="card hvr-grow">
                                        <div class="card-head">
                                            <img src="img/manpower.png" alt="manpower supply">
                                        </div>
                                        <div class="card-body">
                                            <h4>Ducting services</h4>
                                            <p>Lior sit amet, consectetur adipisg</p>
                                            <p>elit, sed do eiusmod tempor</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <div class="card hvr-grow">
                                        <div class="card-head">
                                            <img src="img/manpower.png" alt="manpower supply">
                                        </div>
                                        <div class="card-body">
                                            <h4>Insulation services</h4>
                                            <p>Lior sit amet, consectetur adipisg</p>
                                            <p>elit, sed do eiusmod tempor</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <div class="card hvr-grow">
                                        <div class="card-head">
                                            <img src="img/manpower.png" alt="manpower supply">
                                        </div>
                                        <div class="card-body">
                                            <h4>Boiler serving & retubing</h4>
                                            <p>Lior sit amet, consectetur adipisg</p>
                                            <p>elit, sed do eiusmod tempor</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <div class="card hvr-grow">
                                        <div class="card-head">
                                            <img src="img/manpower.png" alt="manpower supply">
                                        </div>
                                        <div class="card-body">
                                            <h4>Marine oil & gas integrated services</h4>
                                            <p>Lior sit amet, consectetur adipisg</p>
                                            <p>elit, sed do eiusmod tempor</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="testimonial-section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="testimonial-inner">
                        <h2>Testimonials</h2>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12">
                    <div class="right-testimonial">
                        <div class="owl-carousel owl-theme" id="testimonial-slide">
                            <div class="test-card item">
                                <div class="main-test">
                                    <div class="test-avatar">
                                        <img src="img/team-8.jpg" alt="">
                                    </div>
                                    <div class="test-content">
                                        <span>Maria Yarosh</span>
                                        <span class="designation">HR</span>
                                    </div>
                                </div>
                                <div class="test-description">
                                    <p>But in certain circumstances and owing
                                        to the claims of duty or the obligations  business it will frequently.</p>
                                </div>
                            </div>
                            <div class="test-card item">
                                <div class="main-test">
                                    <div class="test-avatar">
                                        <img src="img/testimonial-3.jpg" alt="">
                                    </div>
                                    <div class="test-content">
                                        <span>Maria Yarosh</span>
                                        <span class="designation">Manager</span>
                                    </div>
                                </div>
                                <div class="test-description">
                                    <p>But in certain circumstances and owing
                                        to the claims of duty or the obligations  business it will frequently.</p>
                                </div>
                            </div>
                            <div class="test-card item">
                                <div class="main-test">
                                    <div class="test-avatar">
                                        <img src="img/team-10.jpg" alt="">
                                    </div>
                                    <div class="test-content">
                                        <span>Maria Yarosh</span>
                                        <span class="designation">HEAD OF OPERATIONS</span>
                                    </div>
                                </div>
                                <div class="test-description">
                                    <p>But in certain circumstances and owing
                                        to the claims of duty or the obligations  business it will frequently.</p>
                                </div>
                            </div>
                            <div class="test-card item">
                                <div class="main-test">
                                    <div class="test-avatar">
                                        <img src="img/testimonial-3.jpg" alt="">
                                    </div>
                                    <div class="test-content">
                                        <span>Maria Yarosh</span>
                                        <span class="designation">Manager</span>
                                    </div>
                                </div>
                                <div class="test-description">
                                    <p>But in certain circumstances and owing
                                        to the claims of duty or the obligations  business it will frequently.</p>
                                </div>
                            </div>
                            <div class="test-card item">
                                <div class="main-test">
                                    <div class="test-avatar">
                                        <img src="img/team-10.jpg" alt="">
                                    </div>
                                    <div class="test-content">
                                        <span>Maria Yarosh</span>
                                        <span class="designation">HEAD OF OPERATIONS</span>
                                    </div>
                                </div>
                                <div class="test-description">
                                    <p>But in certain circumstances and owing
                                        to the claims of duty or the obligations  business it will frequently.</p>
                                </div>
                            </div>
                            <div class="owl-dots">
                                <div class="owl-dot active"><span></span></div>
                                <div class="owl-dot"><span></span></div>
                                <div class="owl-dot"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>